<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>III SEDOC</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" id= "topo" href="#page-top">Início</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#evento">O Evento</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#programacao">Programação</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Grupos de Trabalho</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Palestrantes</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#minicursos">Minicursos e Oficinas</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#parceiros">Parceiros</a>
                    </li>
					<li>
                        <a class="page-scroll" href="login.php">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" >III Seminário de Docência e Contemporaneidade:<br> <h1><b> "Espaços de formação como campos de luta e de resistência"</b><h1></div>
                <div class="intro-lead-in">24 a 26 de maio - IFRN/Campus Canguaretama <br> 
				<h5> Até 20/04: Limite para submissão de resumo &nbsp; &nbsp; | &nbsp; &nbsp; Até 08/05: Resultado parcial dos resumos &nbsp;&nbsp;  |&nbsp;&nbsp;  Até 12/05: Limite para envio de correção, caso o resumo necessite. <h5> 
				<h5> Até 22/05: Resultado Final da avaliação dos resumos &nbsp;&nbsp; |&nbsp;&nbsp;  12/06: Limite para envio de trabalho completo <h5> </div>
				<a href="documentos/trabalhos_aprovados.pdf" target="_blank" class="page-scroll btn btn-xl">TRABALHOS APROVADOS</a>
				<a href="documentos/espaco.pdf" target="_blank" class="page-scroll btn btn-xl">ESPAÇOS DAS ATIVIDADES</a>
            </div>
        </div>
    </header>

    <!-- Sobre Section -->
    <section id="evento" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre o III SEDOC</h2>
         	        <hr class="primary">
                </div>
            </div>
       
            <p align="justify"> Prezadas/os licenciandas/os, professoras/es e pesquisadoras/es, </p> <br>
			
			<p align="justify"> A primeira edição do SEDOC - Seminário de Docência e Contemporaneidade surgiu como coroamento de um projeto 
			de extensão (Edital 04/2012 - PROEX/IFRN) cujo objetivo foi preparar licenciandos e professores da microrregião 
			do Vale do Assu para o trabalho com temáticas de Educação Inclusiva. Organizada pela Profª Gisele Penatieri e pelo 
			Prof. Avelino Neto, esta primeira edição aconteceu em fevereiro de 2013, no campus Ipanguaçu. 
			A segunda (http://eventos.ifrn.edu.br/sedoc/), organizada pelas professoras Monalisa Porto e Gisele Penatieri, 
			concentrou-se, por sua vez, na discussão sobre a formação docente no IFRN, e aconteceu em maio de 2016, também no 
			campus Ipanguaçu. O II SEDOC contou com uma programação mais extensa e com uma participação mais numerosa de estudantes 
			do IFRN e de outras IES, bem como de professores da Educação Básica das redes pública e privada. </p>
			
			<p align="justify"> Reconhecendo a importância 
			deste evento para pensar a formação docente no IFRN, bem como a necessária articulação da formação de professores com 
			temas urgentes da contemporaneidade, queremos iniciar uma de soma de esforços para torná-lo um evento anual e intercampi,
			que conste no calendário institucional. Nesse sentido, em 2017 agregaram-se ao comitê organizador professoras/es dos
			Núcleos didático-pedagógicos e dos Núcleos específicos de diversos campi e de suas licenciaturas, interessadas/os nas
			interfaces entre formação docente e o questionamento da atualidade. Trata-se de realizar, como diria Michel Foucault 
			inspirando-se em Kant, "o diagnóstico do presente". Compreende-se, assim, o tema da terceira edição do evento: Espaços
			de formação como campos de luta e de resistência. Esta terceira edição conta ainda com o apoio financeiro do CNPq 
			(Edital de Apoio a Pesquisador Visitante) e faz parte das atividades do Acordo de Cooperação Internacional estabelecido
			entre o IFRN e a Faculdade de Educação da Universidade de Montpellier/França.</p>
			
			<p align="justify"> Juntos, através da programação do evento, viveremos três 
			dias de formação, reflexão e crítica sobre os lugares formativos e as numerosas implicações políticas que o 
			atravessam e que, por conseguinte, nos atravessam a todas/os. Trata-se de criar, nesses dias, um espaço outro 
			- uma heterotopia, se permanecermos com Foucault - para a formação docente no IFRN, iniciando as/os licendiandas/os 
			no desafio do pensar acadêmico rigoroso, profundamente imbricado com os desafios que o real impõe aos sujeitos da 
			educação. Assim, o SEDOC já se configura, pouco a pouco, como espaço outro de formação docente no IFRN - 
			descortinando olhares outros, lugares outros e exigindo dizer e mostrar de outros modos o que somos e o que 
			queremos ser enquanto professoras/es. Pois, apesar de tudo, "o pulso ainda pulsa". </p> <br>

			<p align="justify"> Prof. Avelino Neto <br> Pelo Comitê Organizador </p> <br>
			
			<p align="justify">Visite <a href="http://sedocifrn.blogspot.com.br/" target = "_blank"> AQUI </a> a página do I SEDOC para obter mais informações. </p>
			<p align="justify">Visite <a href="http://eventos.ifrn.edu.br/sedoc/" target = "_blank"> AQUI </a> a página do II SEDOC para obter mais informações. </p>
            </div>
                
        </div>
    </section>
    
    <!-- Seção Programação -->
    <section id="programacao">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programação</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
								<h4> 24/05 <br> QUARTA-FEIRA </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>13H00 - 22H00</h4>
                                </div>
                                <h4 class="subheading">+ Credenciamento </h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"></p>
									Local: Centro de Vivência
                                </div> 
                                <br>
                                <div class="timeline-heading">
                                    <h4>14H00 - 17H00</h4>
                                </div>
                                <h4 class="subheading">+ Minicursos e oficinas</h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"></p>
                                </div>
								<br>
								<div class="timeline-heading">
									<h4>17H30 - 18H00</h4>
                                </div>
                                <h4 class="subheading">+ Coffee Break </h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"></p>
									Local: Centro de Vivência
                                </div> 
                                <br>
								<div class="timeline-heading">
                                    <h4>18H30 - 19H15</h4>
                                </div>
                                <h4 class="subheading">+ Abertura</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> </p>
									Local: Auditório
                                </div>
								<br>
								<div class="timeline-heading">
                                    <h4>19H15 - 22H00</h4>
                                </div>
                                <h4 class="subheading">+ Conferência de abertura: O que é uma filosofia crítica para a educação hoje?</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> Prof. Dr. Salim Mokaddem (Universidade de Montpellier/França) </p>
									Local: Auditório
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
								<h4> 25/05 <br> QUINTA-FEIRA </h4>
                            </div>
                            <div class="timeline-panel">
								<div class="timeline-heading">
                                    <h4>08H00 - 12H00</h4>
                                </div>
                                <h4 class="subheading">+ Credenciamento </h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"></p>
									Local: Centro de Vivência
                                </div> 
                                <br>
                                <div class="timeline-heading">
                                    <h4>08H00 - 09H30</h4>
                                </div>
                                <h4 class="subheading">+ Comunicações orais</h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"></p>
                                </div> 
                                <br>
								
                                <div class="timeline-heading">
                                    <h4>09H45 - 12H00</h4>
                                </div>
                                <h4 class="subheading">+ Mesa-redonda: BNCC e formação de professores</h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"> Prof. Dr. André Ferrer (UFRN)</p>
									<p class = "itext-muted"> Prof. Dr. Egar Lyra (PUC-RJ)</p>
									Local: Auditório
                                </div>
                                <br>
								
                                <div class="timeline-heading">
                                    <h4>13H00 - 15H00</h4>
                                </div>
                                <h4 class="subheading">+ Comunicações orais</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> </p>
                                </div>
								<br>
								<div class="timeline-heading">
                                    <h4>15H15 - 16H45</h4>
                                </div>
                                <h4 class="subheading">+ Mesa-redonda: Reforma do Ensino Médio</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> Prof. Dr. Dante Henrique (IFRN -  Natal Central) </p>
									<p class = "itext-muted"> Prof. Dr. Pablo Capistrano (IFRN – Campus Natal-ZN) </p>
									Local: Auditório
                                </div>
								<br>
								<div class="timeline-heading">
                                    <h4>17H00 - 18H00</h4>
                                </div>
                                <h4 class="subheading">+ Fórum: Reforma do Ensino Médio e formação dos professores</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> Prof. Dr. Pablo Capistrano (IFRN – Campus Natal-ZN) </p>
									<p class = "itext-muted"> Ma. Ticiana Patrícia (IFRN - Reitoria) </p>
									Local: Auditório
                                </div>
								<br>
								<div class="timeline-heading">
                                    <h4>19H00 - 22H00</h4>
                                </div>
                                <h4 class="subheading">+ Programação cultural</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> Apresentação de grupos artísticos locais </p>
									<p class = "itext-muted"> Sarau com alunos das licenciaturas </p>
                                </div>
								<br>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
								<h4> 26/05 <br> SEXTA-FEIRA </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08H30 - 10H00</h4>
                                </div>
                                <h4 class="subheading">+ Roda de conversa entre licenciandas/os do IFRN</h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"> </p>
									Local: Auditório
                                </div> 
                                <br>
                                <div class="timeline-heading">
                                    <h4>08H30 - 12H00</h4>
                                </div>
								<h4 class="subheading">+ Mostra das Licenciaturas do IFRN</h4>
                                <div class="timeline-body">
                                    <p class = "itext-muted"></p>
									Local: Centro de Vivência
                                </div>
                                <br>
                                <div class="timeline-heading">
                                    <h4>14H30 - 17H00</h4>
                                </div>
                                <h4 class="subheading">+ Mesa-redonda: Práticas de resistência: horizontes na formação docente</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"> Prof.ª Ma. Izanny de Brito (IFRN - Campus Parnamirim) <p> 
									<p class = "itext-muted"> Prof.ª Ma. Clarissa Souza (IFRN - Campus Canguaretama) <p>
									<p class = "itext-muted"> Prof.ª Ma. Monalisa Porto (IFRN – Campus Ipanguaçu)  </p>
									Local: Auditório
                                </div>
                                <br>                          
                                <div class="timeline-heading">
								<h4>17H00</h4>
                                </div>
                                <h4 class="subheading">+ Plenária de avaliação e encerramento</h4>
                                 <div class="timeline-body">
                                    <p class = "itext-muted"></p>
									Local: Auditório
                                </div> 
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/final.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Seção GTs -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Grupos de Trabalho</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 1</h4>
                        <p class="text-muted">Currículo e formação docente</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt2.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 2</h4>
                        <p class="text-muted">Língua materna e línguas estrangeiras </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 3</h4>
                        <p class="text-muted">Educação e filosofia</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt4.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 4</h4>
                        <p class="text-muted">Políticas educacionais</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt5.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 5</h4>
                        <p class="text-muted">Educação inclusiva e diversidade</p>
                    </div>
                </div>
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt6.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 6</h4>
                        <p class="text-muted">Práticas pedagógicas e formação docente</p>
                    </div>
                </div>
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gt7.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Grupo de Trabalho 7</h4>
                        <p class="text-muted">NTICs na Educação</p>
                    </div>
                </div>
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/normas.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
						<a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
							<h4>Normas para Envio de Trabalhos</h4>
							<p class="text-muted">Normas e modelos para resumo, apresentação de comunicação oral e trabalhos completos</p>
						</a>
                    </div>
                </div>
				
            </div>
			<center> <a href="documentos/trabalhos_aprovados.pdf" target="_blank" class="btn btn-primary btn-md" role="button">TRABALHOS APROVADOS</a> </center>
        </div>
    </section>

    <!-- Seção palestrantes -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Palestrantes</h2>
                    <hr class="primary">
                </div>
            </div>
			<div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/francy.png" class="img-responsive img-circle" alt="">
                        <h4>Francy Izanny de Brito Barbosa Martins </h4> 
						<p class="itext-muted">IFRN Parnamirim </p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal11" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>	
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/monalisa.png" class="img-responsive img-circle" alt="">
                        <h4>Monalisa Porto Araújo</h4>
						<p class="itext-muted">IFRN Ipanguaçu</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal12" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>	
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/clarissa.png" class="img-responsive img-circle" alt="">
                        <h4>Clarissa Souza de Andrade</h4>
						<p class="itext-muted">IFRN Canguaretama</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal13" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>  
			</div>
			<div class="row">
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/pablo.png" class="img-responsive img-circle" alt="">
                        <h4>Pablo Moreno Paiva Capistrano </h4> 
						<p class="itext-muted">IFRN Zona Norte</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal14" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/ticiana.png" class="img-responsive img-circle" alt="">
                        <h4>Ticiana Patrícia da Silveira Cunha </h4> 
						<p class="itext-muted">IFRN - Reitoria (PROEN)</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal15" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/andre.png" class="img-responsive img-circle" alt="">
                        <h4>Andre Ferrer Pinto Martins </h4> 
						<p class="itext-muted">UFRN Natal</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal16" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/salim.png" class="img-responsive img-circle" alt="">
                        <h4>Salim Mokaddem</h4> 
						<p class="itext-muted">Universidade de Montpellier - França</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal17" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/edgar.png" class="img-responsive img-circle" alt="">
                        <h4>Edgar de Brito Lyra Netto</h4> 
						<p class="itext-muted">PUC - Rio de Janeiro</p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal18" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/dante.png" class="img-responsive img-circle" alt="">
                        <h4>Dante Henrique Moura </h4> 
						<p class="itext-muted">IFRN Natal Central </p>
                        <ul class="list-inline new-buttons">
                            <li><a href="#portfolioModal19" class="portfolio-link" data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
			<center> <a href="img/parc/pousadas.pdf" target="_blank"><img src="img/pou.png"> </a> </center>
			
        </div>
    </section>  
	
	<!--Seção Minicursos -->
	<section id="minicursos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Minicursos e Oficinas</h2>
                    <hr class="primary">
                </div>
            </div>
			
			<br>
			
			<strike> <p align="justify">	A inscrição para oferta de oficinas seguirá até o dia 24/04/17. Para submeter uma proposta de oficina, o proponente deve 
			seguir as normas (link abaixo) que constam no documento e enviar a proposição para <b>sedoc@ifrn.edu.br</b>, em arquivo com formato Word ou PDF. 
			No assunto do e-mail deve conter o respectivo título: <b> PROPOSTA DE OFICINA </b>.</p> 
			<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnTXRid05GR0RIRWs/view?usp=sharing" target="_blank"><img src="img/baixar.png"> </a> <br> <br> </strike>
			
			
			<br>
			
			<div class="bs-docs-section">
			  <h1 class="page-header">Minicursos:</h1>
			  <h2 id="mini1">Prática Docente e Formação Política</h2>
			  <p align="justify" >Em face do acirramento da conjuntura política nacional e dos questionamentos de setores da sociedade quanto à 
			  função da escola na formação política de estudantes, almeja-se demonstrar imbricadas as relações entre prática 
			  docente e formação política. Para isso, serão mediadas inicialmente concepções de política, de suas dimensões
			  cotidianas além dos partidos políticos no sistema capitalista, do binômio esquerda e direita, do sistema político
			  brasileiro e das dimensões da participação social e política. Em perspectiva contígua, será objeto de análise 
			  o lugar da política na legislação educacional brasileira, nas produções científicas das Ciências da Educação
			  e no currículo, evidenciando o papel dos educadores na formação política dos sujeitos. A partir dessa 
			  fundamentação, serão debatidas as arbitrariedades das tentativas de amordaçar professores e alienar 
			  estudantes contidas nos projetos de lei Escola Sem Partido e Assédio Ideológico na escola. Por fim, será 
			  conduzida uma atividade prática de produção e apresentação de propostas pedagógicas preliminares sobre 
			  formação política.</p>
			  <p><strong class="text-danger">Ministrantes: Víctor Varela (IFRN) e Fellipe Coelho Lima (UFRN).</strong></p>
			</div>
			<div class="bs-docs-section">
			  <h3 class="page-header"></h3>
			  <h2 id="mini2">Praticando e imaginando Direitos Humanos na Escola: balanço de uma experiência político-pedagógica</h2>
			  <p align="justify" >O minicurso pretende apresentar e discutir a produção e a experiência de organização e vivência discente
			  de atividades pedagógicas dentro da temática dos Direitos Humanos, realizadas pelos estudantes do Instituto
			  Federal de Nova Cruz no contexto de projetos de intervenção/pesquisa desenvolvidos na disciplina de Sociologia.
			  Além da apresentação das características didáticas do projeto, o minicurso consiste em expor um balanço crítico
			  sobre os resultados do projeto de trabalho e da experiência didático-pedagógica para as relações de ensino-aprendizagem
			  e para as mudanças de percepção discente acerca dos significados dos Direitos Humanos para a vida política e cotidiana
			  dos estudantes envolvidos.</p>
			  <p><strong class="text-danger">Ministrante: Alyson Thiago Fernandes Freire (Sociólogo e Professor do Instituto Federal do Rio Grande do Norte).</strong></p>
			</div>
			<div class="bs-docs-section">
			  <h3 class="page-header"></h3>
			  <h2 id="mini2">Webquest como recurso tecnológico para a pesquisa orientada: ensinar-aprender por meio de metodologias ativas de aprendizagem</h2>
			  <p align="justify">O minicurso tem por objetivo capacitar docentes de diversas áreas à criação, 
			  desenvolvimento e disponibilização de webquests no âmbito da pesquisa orientada,
			  que leva em consideração a relação entre ciência, sociedade e tecnologia, de modo que
			  se procure, através da reflexão, buscar soluções efetivas para os problemas que se impõem ao contexto social. <br> 
			  Grupo-alvo: docentes e alunos de licenciatura que estejam na iminência do estágio supervisionado
			  de regência e gostem de trabalhar com novas tecnologias em sala de aula. </p>
			  <p><strong class="text-danger">Ministrante: Abigail Noadia Barbalho da Silva (IFRN).</strong></p>
			</div>
			<div class="bs-docs-section">
			  <h3 class="page-header"></h3>
			  <h2 id="mini2">Museologia Social</h2>
			  <p align="justify">Este minicurso visa informar acerca do processo histórico de produção do conhecimento 
			  e a institucionalização dos espaços de histórias, memórias, museus, musealização da cultura. Pretende, ainda,
			  estimular uma reflexão interdisciplinar em defesa de uma museologia social e uma educação patrimonial, bem como
			  conhecer, trocar experiências e estimular a elaboração de ações patrimoniais e educativas para o contexto sócio 
			  histórico e cultural de Canguaretama/RN. </p>
			  <p><strong class="text-danger">Ministrante: Wani Fernandes Pereira (UFRN)</strong></p>
			</div>
			<div class="bs-docs-section">
			  <h3 class="page-header"></h3>
			  <h2 id="mini2">Base Nacional Comum Curricular: implicações no planejamento docente</h2>
			  <p align="justify">Este minicurso tem como intuito o estudo e reflexão acerca da Base Nacional Comum 
			  Curricular/BNCC pelos professores em formação inicial e continuada. Isto porque, a BNCC evidencia 
			  implicações na Educação Básica e na Formação do Professor, sobretudo em decorrência do pressuposto 
			  alinhamento entre o preparo docente enquanto condição indispensável à implementação do currículo. 
			  Nesse sentido, questões do processo educativo, a exemplo do que aprender, para que aprender, como 
			  ensinar, como avaliar o aprendizado, dentre outros, vem à baila como objeto de reflexão dos docentes.
			  Em síntese, a definição de aprendizagens essenciais durante o planejamento para a educação básica 
			  constitui-se um desafio para os educadores brasileiros contemporâneos. </p>
			  <p><strong class="text-danger">Ministrantes: Francinaide de Lima Silva Nascimento (IFRN) e Emiliana Souza Soares (IFRN).</strong></p>
			</div>
			<br>
			<div class="bs-docs-section">
			  <h1 class="page-header">Oficinas:</h1>
			  <h2 id="mini1">A formação do(a) professor(a) do campo  frente ao contexto atual</h2>
			  <p align="justify" ></p>
			  <p><strong class="text-danger">Ministrante: Prof. Dr. Sérgio Luiz Lopes </strong></p>
			</div>
			<div class="bs-docs-section">
			<h3 class="page-header"></h3>
			  <h2 id="mini1">Scratch para professores: Desenvolvimento e novas perspectivas para a sala de informática</h2>
			  <p align="justify" ></p>
			  <p><strong class="text-danger">Ministrantes: Augusto Cesar Oliveira de Almeida e Radamila Oliveira do Nascimento</strong></p>
			</div>
			<div class="bs-docs-section">
			<h3 class="page-header"></h3>
			  <h2 id="mini1">Aprendizagem de conteúdos de óptica para pessoas com deficiência visual</h2>
			  <p align="justify" ></p>
			  <p><strong class="text-danger">Ministrantes: Bruna Aquino de Morais, Joédla Monique Lopes Pereira e Vanini Medeiros Morais</strong></p>
			</div>
			<h3 class="page-header"></h3>
			  <h2 id="mini1">Introdução ao GeoGebra</h2>
			  <p align="justify" ></p>
			  <p><strong class="text-danger">Ministrante: Lucas Gabriel Lima Teixeira</strong></p>
			</div>
			<center>
			<div class="page-header">
				<a href="documentos/espaco.pdf" target="_blank" class="btn btn-primary btn-md" role="button">ESPAÇOS DAS ATIVIDADES</a>
			</center>
			</div>

		</div>
    </section>  
	
	<!-- Sobre Section -->				
    <section id="parceiros">
        <div class="container">
			<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parceiros</h2>
					<hr class="primary">
						<div class="row">
							<div class="col-md-4 col-sm-6 portfolio-item">
								<a>
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
										</div>
									</div>
									<img src="img/parc/nuarte.png" class="img-responsive" alt="">
								</a>
							</div>
							<div class="col-md-4 col-sm-6 portfolio-item">
								<a>
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
										</div>
									</div>
									<img src="img/parc/neabi.png" class="img-responsive" alt="">
								</a>
							</div>
							<div class="col-md-4 col-sm-6 portfolio-item">
								<a>
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
										</div>
									</div>
									<img src="img/parc/cnpq.png" class="img-responsive" alt="">
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6 portfolio-item">
								<a>
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
										</div>
									</div>
									<img src="img/parc/eventur.png" class="img-responsive" alt="">
								</a>
							</div>
							<div class="col-md-4 col-sm-6 portfolio-item">
								<a>
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
										</div>
									</div>
									<img src="img/parc/execult.png" class="img-responsive" alt="">
								</a>
							</div>
							<div class="col-md-4 col-sm-6 portfolio-item">
								<a>
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
										</div>
									</div>
									<img src="img/parc/uni.png" class="img-responsive" alt="">
								</a>
							</div>
						</div>
					<center> <a href="img/parc/pousadas.pdf" target="_blank"><img src="img/pou.png"> </a> </center>
				</div>
			</div>
		</div>
    </section>
	
	
	
	<!--Seção Organização -->
	<section id="organizacao" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organização</h2>
         	        <hr class="primary">
                </div>
            </div>
				<table>
					<tr>
						<td>
						<p class="text-muted"> Comitê Organizador </p>
						<p class="text-muted"> <h5> Alcindo Mariano de Souza - Campus João Câmara <br>
						Alfredo Henrique Oliveira Marques - PPGFIL/UFRN <br>
						Alysson Espedito de Melo - Campus Canguaretama <br>
						Avelino Aldo de Lima Neto - Campus Canguaretama <br>
						Clarissa Souza de Andrade Honda – Campus Canguaretama <br>
						Eulália Raquel Gusmão de Carvalho Neto - Campus Natal-Central &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>
						Fernanda Lígia Rodrigues Lopes – Campus Ipanguaçu <br>
						Francisco do Nascimento Lima - Campus Canguaretama<br>
						Isaac Samir Cortez de Melo – Campus Canguaretama <br>
						Ivickson Ricardo de Miranda Cavalcanti <br>
						Juan Carlo da Cruz Silva - Campus Canguaretama <br>
						Lilian da Silva Vieira - Campus Macau <br>
						Luciane Soares Almeida - Campus Caicó <br>
						Marcus Brandão de Moura - Campus Canguaretama <br>
						Maria Trinidad Pacherrez Velasco - Campus Natal-Central <br>
						Monalisa Porto Araújo - Campus Ipanguaçu <br>
						Monik de Oliveira Lopes Neves - Campus Canguaretama <br>
						Patrícia Carla de Macedo Chagas – Campus EaD <br>
						 <h5> </p>
						<p class="text-muted"> Comitê Científico </p>
						<p class="text-muted"> <h5> Abigail Noadia Barbalho da Silva <br> 
						Alcindo Mariano de Souza <br>
						Alexandre Medeiros de Araújo <br>
						Alfredo Henrique Oliveira Marques <br>
						Diogo Pereira Bezerra <br>
						Edney José da Silva Cavalcante <br>
						Edrisi de Araújo Fernandes <br>
						Eulália Raquel Gusmão de Carvalho Neto <br>
						Euza Raquel de Sousa <br>
						Geraldo Freire de Lima <br>
						Gisele Amaral dos Santos <br>
						Gueidson Pessoa de Lima <br>
						Jaqueline Engelmann <br>
						Jorge dos Santos Lima <br>
						José Luiz Silva da Costa <br>
						Juliana Kelle Freire da Silva Barbosa <br>
						Larissa Fernanda Santos Oliveira dos Reis <br>
						Luciane Soares Almeida <br>
						Maria Trinidad Pacherrez Velasco <br>
						Mariana Queiroz Orrico de Azevedo <br>
						<br>
						<h5> </p>
						</td>
						
						<td>
						<p class="text-muted"> <h5> 
						Mauro Rogério de Almeida Vieira <br>
						Monik de Oliveira Lopes Neves <br>
						Patrícia Carla de Macedo Chagas <br>
						Rodolfo Rodrigues Medeiros <br>
						Samuel Anderson de Oliveira Lima
						Sanderson Molick Silva <br>
						Sarah Raquel da Rocha Silva <br>
						Stanley Kreiter Bezerra Medeiros <br>
						Yane de Andrade Ramalho <br>
						<br>
						<h5> </p>
						
						<p class="text-muted"> Comitê de Comunicação </p>
						<p class="text-muted"> <h5> Prof.ª Fernanda Lígia Rodrigues Lopes <br>
						Prof.ª Lilian da Silva Vieira <br>
						Prof.ª Monalisa Porto Araújo <br>
						Prof. Marcus Brandão de Moura <br>
						Jorge Luis Fonseca Cunha (Licenciatura em Informática/Campus Ipanguaçu) <br>
						<h5> </p>
						
						<p class="text-muted"> Comitê de Logística e Infraestrutura </p>
						<p class="text-muted"> <h5> Alysson Espedito de Melo <br>
						Clarissa Souza de Andrade Honda <br> 
						Francisco do Nascimento Lima <br>
						Isaac Samir Cortez de Melo <br>
						Ivickson Ricardo de Miranda Cavalcanti <br>
						
						<h5> </p>
						
						<p class="text-muted"> Comitê Cultural </p>
						<p class="text-muted"> <h5> Monik de Oliveira Lopes Neves <br>
						Clarissa Souza de Andrade Honda <br>
						Isaac Samir Cortez de Melo <br>
						<h5> </p>
						
						<p class="text-muted"> Secretaria </p>
						<p class="text-muted"> <h5> Prof. Marcus Brandão de Moura <br>
						Prof. Juan Carlo da Cruz Silva <br>
						Cleferson Fernandes da Silva  <br>
						Rubens Batista da Silva <br>
						Mayara Oliveira Fonseca <br>
						Pedro Henrique Ferreira Martins <br>
						(Licenciatura em Educação do Campo/Campus Canguaretama) <br>
						<h5> </p>
						</td>
					</tr>
				<table>
        </div>
    </section>
	
	<!--Rodapé-->
    <footer class="footer">
			<div class="container">
				<div class="row">
					<p> DÚVIDAS? <p>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="https://www.facebook.com/iiisedoc/?fref=ts" target = "_blank">
							<i class="fa fa-facebook"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="http://eventos.ifrn.edu.br/iiisedoc"> 
							<i class="glyphicon glyphicon-envelope"></i></a>
							</li>
							sedoc.cang@gmail.com
						</a>
						</ul>
					</div>
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; SEDOC 2017</span>
					</div>
				</div>
			</div>
    </footer>
	
	<div class="portfolio-modal modal fade" id="portfolioModalfim" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>E-mails</h2>
                            <p class="item-intro text-muted">sedoc.cang@gmail.com</p>
                                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT1</h2>
                            <p class="item-intro text-muted">Currículo e formação docente</p>
                            <p class="text-justify"> O referido GT abrange estudos, trabalhos
							e pesquisas que discutem questões curriculares relacionadas aos processos 
							de formação docente. Visa, sobretudo, estabelecer diálogos e relações que 
							destacam o papel do currículo e a construção de conhecimentos na formação
							de professores, contemplando currículos nos contextos das Licencianturas,
							Ensino Médio e Ensino Fundamental. Assim como, propõe abordar dimensões
							curriculares em contextos não escolares/institucionais, englobando diversas 
							formas de vivências curriculares.</p>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT2</h2>
                            <p class="item-intro text-muted">Língua materna e línguas estrangeiras</p>
                            <p class="text-justify"> "O objetivo deste eixo é reunir trabalhos que discutam a 
							língua materna e/ou línguas estrangeiras (espanhol / inglês) desde diferentes níveis
							de análise e em perspectivas teóricas sincrônica e/ou diacrônica. Apresentar o pensamento
							das manifestações culturais ou literárias relacionadas a processos históricos. Discutir 
							a formação de professores de língua materna ou estrangeira e o processo de ensino e 
							aprendizagem a partir de diferentes perspectivas.</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT3</h2>
                            <p class="item-intro text-muted">Educação e filosofia</p>
                            <p class="text-justify"> Este GT ambiciona receber comunicações que circunscrevam uma
							investigação sobre ensino e aprendizado de Filosofia (nos formatos de ensaios, artigos
							científicos e relatos de experiência). Essas reflexões podem encontrar fundamentação 
							e repercussão em problemas de Metafísica, Ética, Filosofia Política, Lógica, Filosofia
							da Mente, Epistemologia, Estética, Filosofia da Educação, tradições filosóficas-pedagógicas,
							Fenomenologia, Ontologia e outras inúmeras estratégias para se colocar no caminho de uma 
							pergunta que investigue o tema “Educação e Filosofia”. Pretendemos reunir diversos 
							trabalhos para apresentação no GT e posterior publicação após o evento. </p>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT4</h2>
                            <p class="item-intro text-muted">Políticas educacionais</p>
                            <p class="text-justify"> O GT de Políticas Educacionais abrange estudos que discutem:
							relações de poder e governo no campo educacional; processos de formulação, 
							implementação e avaliação de políticas em educação; repercussões das políticas
							públicas para a Educação Básica e Ensino Superior em suas diversas modalidades; 
							agenda transnacional, nacional, local e a articulação entre atores diversos. </p>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT5</h2>
                            <p class="item-intro text-muted">Educação inclusiva e diversidade</p>
                            <p class="text-justify"> O presente GT se propõe a acolher trabalhos que abordem
							a temática da educação, sob uma perspectiva inclusiva, bem como discussões que 
							permeiem o campo da diversidade, com face à diversidade sexual e de gênero. Nesse
							intuito, objetivamos debater e refletir a respeito de políticas educacionais e
							práticas pedagógicas inclusivas e da diversidade em espaços formais ou informais 
							de educação; acessibilidade, recursos e tecnologias como fator de inclusão 
							socioeducacional; e Formação docente.</p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	   <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT6</h2>
                            <p class="item-intro text-muted">Práticas pedagógicas e formação docente</p>
                            <p class="text-justify"> O Grupo de Trabalho de Práticas Pedagógicas e Formação Docente
							trata de discussões sobre a construção de saberes na prática docente, seja em 
							sala de aula, laboratórios ou em ambientes não-formais, bem como essa mesma
							produção a partir das experiências de professores na educação básica ou superior.
							Ainda dentro da pesquisa na formação inicial e continuada dos profissionais de 
							educação em cursos regulares, projetos de pesquisa e extensão, projetos de iniciação
							à docência e relatos de experiências que envolvam a formação de professores.</p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
	
	   <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>GT7</h2>
                            <p class="item-intro text-muted">NTICs na Educação</p>
                            <p class="text-justify"> O  GT Novas Tecnologias e Educação tem por objetivo apresentar
							trabalhos referentes ao ensino e aprendizagem de diferentes áreas do conhecimento que são 
							efetivados por meio das tecnologias digitais, valorizando as práticas pedagógicas com o
							uso dessas tenologias na educação presencial e na modalidade de Educação à Distância.</p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Portfolio Modal 8 -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Normas e Modelos para Submissão</h2>
                            <p class="item-intro text-muted">Esta página contém as normas e modelos de arquivos para submissão de trabalhos</p>
							
							<p class="text-justify"> 
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYncVhiYzBoc1daQjA/view?usp=sharing" target="_blank" ><span class="glyphicon glyphicon-download-alt"></span></a>
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYncVhiYzBoc1daQjA/view?usp=sharing" target="_blank" >Normas para resumo e apresentação de comunicação oral</a>
								
							</p>  
							<p class="text-justify"> 
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnU1hMQkdRX3ItWDA/view?usp=sharing" target="_blank" ><span class="glyphicon glyphicon-download-alt"></span></a>
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnU1hMQkdRX3ItWDA/view?usp=sharing" target="_blank" >Normas para trabalho completo</a>
							</p> 
							<p class="text-justify"> 
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnVC1BT251Vy1oVFU/view?usp=sharing" target="_blank" ><span class="glyphicon glyphicon-download-alt"></span></a>
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnVC1BT251Vy1oVFU/view?usp=sharing" target="_blank" >Modelo para resumo</a>
								
							</p> 
							<p class="text-justify"> 
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnTlIwTE0wMUdVUFk/view?usp=sharing" target="_blank" ><span class="glyphicon glyphicon-download-alt"></span></a>
								<a href="https://drive.google.com/file/d/0B0R02ZRQ1TYnTlIwTE0wMUdVUFk/view?usp=sharing" target="_blank" >Modelo para trabalho completo</a>
								
							</p>
							
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Portfolio Modal Palestrantes -->
    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Francy Izanny de Brito Barbosa Martins</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">Possui graduação em Pedagogia e Educação Artística, 
							com habilitação em Desenho, ambas pela Universidade Federal do Rio Grande
							do Norte (UFRN). É especialista em Psicopedagogia, pela UnP, e em PROEJA,
							pelo IFRN. É Mestre em Educação, pela UFRN - Linha de Pesquisa 'Práticas 
							Pedagógicas e Currículo' e atualmente aluna do programa de doutoramento 
							em Ciências da Educação da Universidade do MInho/Portugal. É professora 
							do Ensino Básico, Técnico e Tecnológico do Instituto Federal de Educação, 
							Ciência e Tecnologia do Rio Grande do Norte (IFRN) e Diretora de Avaliação 
							e Regulação do Ensino, na Pró-Reitoria de Ensino do IFRN. Tem experiência na 
							área de Educação, com ênfase em Pedagogia, Gestão, Psicopedagogia e Artes Visuais. </p>
							<p class="text-justify">
							- Link para o currículo lattes <a href = "http://lattes.cnpq.br/3865076593622950" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Monalisa Porto Araújo</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">Possui graduação em Pedagogia, área de habilitação em Educação de Jovens e Adultos,
							pela Universidade Federal da Paraíba - UFPB (2008). Mestre em Educação pela UFPB (2011). Doutoranda em Educação
							pela UFPB. Participou de projetos de Educação de Jovens e Adultos do Campo (PRONERA; PROJOVEM CAMPO) e de Ensino
							Fundamental da Rede Municipal de João Pessoa e da Construção de uma Proposta Curricular do 2º segmento da 
							EJA do município de João Pessoa. Tem atuação na docência no Ensino Superior nos cursos de Pedagogia e na 
							Especialização em Educação Integral e Direitos Humanos da UFPB. Atualmente, integra o quadro de Docentes
							dos cursos de Licenciatura do Instituto Federal do Rio Grande do Norte (IFRN). </p>
							<p class="text-justify">
							- Link para o currículo lattes <a href = "http://lattes.cnpq.br/3510994377299514" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Clarissa Souza de Andrade</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">Possui graduação em Pedagogia pela Universidade Federal do Rio Grande do Norte (2004)
							e Mestrado em Educação pela Universidade Federal do Rio Grande do Norte (2008). É professora do Instituto
							Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte - IFRN/ Campus Canguaretama. Tem 
							experiência na área de Educação, atuando principalmente nos seguintes temas: Formação de Professores, 
							Educação do Campo e Educação em Ciências.</p>
							<p class="text-justify">
							- Link para o currículo lattes <a href = "http://lattes.cnpq.br/2606745555816943" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal14" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Pablo Moreno Paiva Capistrano</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">
							Escritor, autor do livro Pequenas Catástrofes (Rocco, 2005) e Simples Filosofia (Rocco, 2009).
							Graduado em filosofia e direito pela UFRN. Tem especialização e mestrado na área de Metafísica 
							e é doutor em Literatura pela UFRN. Autor de vários livros entre os quais: Descoordenadas 
							Cartesianas em três ensaios de quase filosofia (SeboVermelho Edições. 2001), Domingos do
							Mundo (Boágua, 1998), É preciso ter sorte quando se está em guerra (Jovens Escribas, 2011);
							Filosofia do Direito para Concursos (Método, 2011); A Grande Pancada: Crônicas do Tempo do Jazz 
							(Jovens Escribas, 2014). Atualmente se dedica a projetos de extensão e pesquisa na área de
							Consumo e Sociedade. Professor da especialização em Literatura e Ensino pela UAB/IFRN Leciona 
							no campus do IFRN Zona Norte onde atua junto aos cursos técnicos de eletrônica, informática 
							e comércio e na licenciatura em informática. Membro do Grupo de Teatro CARMIM. Faz parte da 
							Base Estratégias Organizacionais e Desenvolvimento Regional (IFRN/Campus Zona Norte).</p>
							<p class="text-justify">
							- Link para o currículo lattes <a href = "http://lattes.cnpq.br/4190976774852728" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Ticiana Patrícia da Silveira Cunha</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">
							Possui graduação em Pedagogia pela Universidade Federal do Rio Grande 
							do Norte (2005).É especialista em Formação Docente para o Ensino Superior 
							(2007). Atualmente atua como Pedagoga do Instituto Federal de Educação, 
							Ciência e Tecnologia do Rio Grande do Norte. Tem experiência na área de 
							Educação, com ênfase em FORMAÇÃO DOCENTE. Cursa atualmente mestrado em 
							educação pela UFRN.</p>
							<p class="text-justify">
							- Link para o currículo lattes <a href ="http://lattes.cnpq.br/6976576638013560" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal16" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Andre Ferrer Pinto Martins</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">
							Bacharel e Licenciado em Física pela Universidade de São Paulo (1990), 
							Mestre em Ensino de Ciências (Modalidade Física) pela Universidade de 
							São Paulo (1998) e Doutor em Educação pela Universidade de São Paulo 
							(2004). Realizou estágio pós-doutoral na University of Leeds, no Reino Unido
							(Out/2013-Set/2014). Atualmente é professor Associado III da Universidade 
							Federal do Rio Grande do Norte (UFRN). É membro da Comissão de Área de 
							Pesquisa em Ensino de Física da Sociedade Brasileira de Física (SBF) e
							da Comissão de Ética da UFRN. Tem experiência na área de Educação, com 
							ênfase em Ensino de Ciências, pesquisando principalmente nos seguintes 
							setores: ensino de ciências, ensino de física, filosofia da ciência e 
							ensino, prática docente. Atuou, entre jan/2010 e jul/2013, como Coordenador
							Institucional do Programa PIBID na UFRN. Interessa-se, particularmente,
							pelo conceito de tempo.</p>
							<p class="text-justify">
							- Link para o currículo lattes <a href ="http://lattes.cnpq.br/2557880242678680" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="portfolio-modal modal fade" id="portfolioModal17" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Salim Mokaddem</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">
							Licenciado, mestre e doutor em Filosofia pela Universidade 
							Paris 1 - Panthéon/ Sorbonne. Professor de Filosofia e de
							Psicopedagogia na Faculdade de Educação da Universidade de
							Montpellier/França. Conselheiro técnico do Ministério da
							Educação do Níger.</p>
							<p class="text-justify">                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
		<div class="portfolio-modal modal fade" id="portfolioModal18" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Edgar de Brito Lyra Netto</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">
							Possui graduação em Engenharia Química pela Universidade do Estado do 
							Rio de Janeiro (1981), mestrado (1999) e doutorado (2003) em Filosofia 
							pela Pontifícia Universidade Católica do Rio de Janeiro. Fixou-se como 
							professor do quadro principal do departamento de Filosofia da PUC-Rio, 
							onde responde, desde setembro de 2013, pela coordenação do curso de graduação
							(licenciatura e bacharelado), bem como, desde agosto de 2012, do subprojeto
							PIBID-CAPES. Tem experiência na área de Filosofia Contemporânea, especialmente
							em problemas éticos, políticos e pedagógicos ligados à atual hegemonia 
							tecnológica e seus efeitos ambientais. Trabalha principalmente com os
							autores Martin Heidegger e Hannah Arendt, em torno dos quais estão 
							concentradas suas publicações. Tem se dedicado, mais recentemente, 
							ao estudo da retórica com intenções político-pedagógicas, partindo 
							do seu contexto grego de sedimentação, marcadamente da Retórica de 
							Aristóteles, em direção aos seus ecos contemporâneos. Exerceu entre 
							2014 e 2016 a coordenação do Grupo de Trabalho Heidegger, da ANPOF 
							(Associação Nacional de Pós-graduação em Filosofia). Desde 2014 atua 
							como colaborador no Mestrado Profissionalizante em Ensino de Filosofia
							do CEFET-RJ. Atuou entre junho de 2015 e junho de 2016 como assessor 
							da SEB-MEC na elaboração do documento de Ciências Humanas da Base Nacional
							Curricular Comum. </p>
							<p class="text-justify">
							- Link para o currículo lattes <a href ="http://lattes.cnpq.br/3641926552572579" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="portfolio-modal modal fade" id="portfolioModal19" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Dante Henrique Moura</h2>
                            <p class="item-intro text-muted"></p>
                            <p class="text-justify">Dante Henrique Moura É Técnico em Eletrotécnica 
							pela Escola Técnica Federal do Rio Grande do Norte (1979), possui graduação 
							em Engenharia Elétrica pela Universidade Federal do Rio Grande do Norte (1986) 
							e doutorado em Educação pela Universidade Complutense de Madri (2003). 
							É professor do Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande 
							do Norte (IFRN) desde 1986, onde leciona disciplinas do núcleo Formação 
							Pedagógica nas licenciaturas oferecidas pela Instituição. De 2010 a 2012 
							coordenou o processo de elaboração da proposta de criação do Programa de 
							Pós-Graduação em Educação Profissional do IFRN - mestrado acadêmico? (PPGEP), 
							o qual foi aprovado pela CAPES em 2012. A partir de 2013 assumiu a coordenação 
							desse Programa. Tem experiência na área de administração educacional, 
							sendo que no IFRN já exerceu, dentre outras funções, a de Diretor de 
							Recursos Humanos (1991-1995), a de Vice-Diretor Geral (1996-1998) e a de 
							Diretor de Ensino (2004-2005). Coordenou a elaboração de vários projetos 
							institucionais, dentre eles o Redimensionamento do Projeto 
							Político-Pedagógico da Instituição (2004-2006). Participou (2005 a 2007) 
							dos Grupos de Trabalho que elaboraram, no âmbito do MEC, 
							os Documentos Base do Programa Nacional de Integração da Educação 
							Profissional com a Educação Básica na Modalidade de Educação de Jovens 
							e Adultos ? PROEJA (Ensino Fundamental e Ensino Médio) e do 
							Ensino médio integrado aos cursos técnicos de nível médio. 
							A partir de 2010 passou a integrar o corpo docente do PPGEd/UFRN 
							como professor Colaborador, onde é orientador de mestrado e de doutorado. 
							É pesquisador em educação, atuando principalmente em Políticas Educacionais 
							e Trabalho e Educação, com ênfase no campo da educação profissional e 
							em sua integração com a educação básica e com a educação de jovens e adultos.
							É um dos fundadores do Núcleo de Pesquisa em Educação (NUPED) do IFRN, 
							sendo atualmente seu coordenador. 
							Atualmente integra o Comitê Científico da ANPEd, 
							representando o GT09 (Trabalho e Educação) e coordena o 
							FORPRED Nordeste.</p>
							<p class="text-justify">
							- Link para o currículo lattes <a href = "http://lattes.cnpq.br/1720357515433453" target="_blank"> AQUI </a></p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
